﻿@model Bacchus.ViewModel.IndexViewModel
@{
	ViewBag.Title = "Home Page";
}
<h2>Index</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
	<p>
		Categories: @Html.DropDownList("listOfAllCategories", "All")
		<br />
		<input class="btn btn-default" id="testing" type="submit" value="Filter" />
	</p>
}
<table class="table">
	<tr>
		<th>
			Product Name
		</th>

		<th>
			Product Description
		</th>

		<th>
			Product Category
		</th>

	</tr>

	@foreach (var item in Model.ListOfAllAuctions)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ProductName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductDescription)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductCategory)
			</td>
			<td>
				@Html.ActionLink("Make a bid", "MakeOffer", new { id = item.ProductId }, null)
			</td>

		</tr>
	}

</table>