﻿@model Bacchus.ViewModel.OfferViewModel
@{
	ViewBag.Title = "Make a bid";
}
<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

<fieldset>
	<legend>Auction item</legend>

	<div class="editor-label">
		@Html.DisplayFor(model => model.Auction.ProductName)
	</div>



	<div class="editor-label">
		@Html.DisplayFor(model => model.Auction.ProductDescription)
	</div>


	<div class="editor-label">
		@Html.DisplayFor(model => model.Auction.ProductCategory)
	</div>

	<div class="editor-label">
		User fullname
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.User.UserName)

	</div>

	<div class="editor-label">
		Bid size
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.Offer.Bid)

	</div>
	@Html.HiddenFor(model => model.Auction.ProductId)
	<p>
		<input type="submit" value="Save bid" />
	</p>
</fieldset>
}

