﻿@model Bacchus.ViewModel.ShowOfferViewModel
@{
	ViewBag.Title = "ShowOffers";
}

<h2>ShowOffers</h2>

<table class="table">
	<tr>
		<th>
			Product Name
		</th>

		<th>
			Product Description
		</th>

		<th>
			Product Category
		</th>
		<th>
			Your Bid
		</th>
		<th>
			End Date
		</th>

	</tr>
	@if (Model.Offers != null)
	{
		foreach (var item in Model.Offers)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ProductName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductDescription)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductCategorys)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Bid)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastBidDate)
				</td>

			</tr>
		}
	}


</table>